<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Component</title>
    </head>

    <body>
        <div th:each="component : ${components}">
            <a th:href="@{'/builder/component/' + ${component.id}}" th:text="${component.name}"></a>
            <form action="/builder" method="post">
                <input type="hidden" th:value="${component.id}" name="component">
                <button type="submit">Добавить</button>
            </form><br>
        </div>

        <div>
            <form  th:action="@{'/builder/select/' + ${slug}}" method="post" th:object="${page}" th:each="i : ${#numbers.sequence(0, pageCount, 1)}">
                <input name="minPrice" id="hiddenMinPrice" th:value="*{minPrice}" type="hidden">
                <input name="maxPrice" id="hiddenMaxPrice" th:value="*{maxPrice}" type="hidden">

                <div th:each="man : *{manufacturer}">
                    <input type="hidden" name="manufacturer" id="hiddenManufacturer" th:value="*{manufacturer}">
                </div>

                <input type="hidden" th:value="${i}" name="pageNum">
                <button type="submit" th:text="${i}">Номер страницы</button>
            </form>
        </div>

        <div>
            <form th:action="@{'/builder/select/' + ${slug}}" method="post" th:object="${page}">

                <label for="minPrice"> Минимальная цена:
                    <input name="minPrice" id="minPrice" th:value="*{minPrice}" type="text">
                </label>

                <label for="maxPrice">Максимальная цена:
                    <input name="maxPrice" id="maxPrice" th:value="*{maxPrice}" type="text">
                </label><br>


                <div th:each="company : ${companies}">
                    <label>Производитель:
                        <input type="checkbox"
                               name="manufacturer"
                               th:id="'manufacturer' + ${company}"
                               th:value="${company}"
                               th:text="${company}"
                               th:checked="${#sets.contains(page.manufacturer, company)}">
                    </label>
                </div>

                <div th:each="i : ${#numbers.sequence(0, #lists.size(possibleSortFields) - 1, 1)}">
                    <label>
                        <span th:text="${possibleSortFields.get(i)}">Название характеристики</span>
                        <select th:id="${possibleSortFields.get(i)}" th:name="${possibleSortFields.get(i)}">
                            <option th:each="order : ${sortOrder}"
                                    th:text="${order}"
                                    th:value="${order}"
                                    th:selected="${#maps.containsKey(page.sortOrders, possibleSortFields.get(i)) and
                                                   page.sortOrders.get(possibleSortFields.get(i)).name() == order.name()}">

                            </option>
                        </select>
                    </label>
                </div>

                <input type="hidden" th:value="0" name="pageNum">
                <button type="submit">Применить</button>
            </form>
            <form th:action="@{'/builder/create/' + ${slug}}" method="get">
                <button type="submit">Создать новое комплектующее</button>
            </form>
        </div>
    </body>
</html>